/*DERP IT ALL STARTS HERE*/

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;
  line-height: 1.4;
  color:#663339;
  padding: 0 1em;
}

h4 {
  color: #e86b26;
  font-family: 'Arvo', serif;
  font-size: 1.4em;
  line-height: 1.25;
  text-transform: uppercase;
  padding: 0 1em;
  margin: 0 0 0.4em 0;
  word-spacing: 0.1em;
}

h5 {
  color:#663339;
  font-family: 'Roboto', serif;
  font-size: 1.125em;
  line-height: 1.4;
  padding: 0 1em;
  margin: 0 0 0.35em 0;
  font-weight: normal;
}


h6 {
  color:#663339;
  font-family: 'Arvo', serif;
  font-size: .9em;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0 1em;
  margin: 0 0 1em 0;
  word-spacing: 0.2em;
}

a, h4{
	text-decoration: none;
}

a:hover h4,
a:hover h5,
a:hover h6 {
  text-decoration: underline;
}



/* ---------------------
HEADER
--------------------- */

.header {
  background: url('trees2.png') repeat-x bottom #ff782e;
  position: relative;
}

.topLogo {
  text-align: center;
  padding: 1.5em 1em 7em 1em;
}

.topLogo img {
  max-width: 447px;
}

.trees-top {
  background: url('trees1.png') repeat-x bottom center;
  height: 84px;
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.tent {
  position: absolute;
  z-index: 3;
  width: 139px;
  height: 138px;
  left:0;
  right:0;
  bottom: -35px;
  margin: 0 auto;
}

.introCopy {
  background-color: #663339;
  padding: 3.5em 0 1em 0;
  text-align: center;
}

.introCopy p {
  color: #f6f2de;
}

.introCopy strong {
  color: #ff782e;
}

/* ---------------------
SIGN UP FORM
--------------------- */

.signup {
  text-align:center;
  padding:2em 1em;
  background: #ff782e;
  
}

.signup h4 {
  color: #f6f2de;
}

input {
  padding: 0.75em 1em;
  outline: 0;
  font: normal 1em 'Roboto' sans-serif;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom:.3em;
}

input.email {
  background: #f6f2de;
  color: #663339;
  border: solid 2px #e86b26;
  width: 40%;
  margin-bottom: 0.75em;
}

/* mobile */
@media screen and (max-width: 48em) {
  input.email {
    width: 100%;
  }
}

input.email:hover,
input.email:focus {
  border-color: #663339;
}

.signupButton{
  background-color: #663339;
  color: #f6f2de;
  width: auto;
  border: none;
  border-radius: 0.4em;
  padding: ;
}

.signupButton:hover,
.signupButton:focus{
  background-color: #4f282c;
}



/* ---------------------
HACKATHONS
--------------------- */

#hackathons{
  background-color: #f6f2de;
  text-align: center;
  padding: 2em 0 1em 0;
}

#hackathons p {
  text-align: left;
}

#hackathons img {
  margin-bottom: 1em;
}

.faded{
	opacity: 0.5;
    filter: alpha(opacity=50);
}

/* ---------------------
SPONSORS
--------------------- */

.sponsor-divider{
  padding: 2em 0;
  text-align: center;
  background: #ff782e;
}

.sponsor-divider h4 {
  color: #f6f2de;
  margin: 0;
}

.sponsors {
  background-color: #f6f2de;
  text-align: center;
  padding: 2em 0 1em 0;
}

.sponsors img {
  margin: 0 2em 1em 0;
}

.title-sponsors img:last-of-type,
.supporters img:last-of-type {
  margin-right: 0;
}

/*.title-sponsors img:nth-last-of-type(2),
.supporters img:nth-last-of-type(2) {
  margin-left: 0;
  margin-right: 0;
}*/

.sponsors h6 {
  margin: 2em 0 1em 0;
  color: #e86b26;
}

.title-sponsors h6 {
  margin: 0 0 1em 0;
}



/* ---------------------
FOOTER
--------------------- */

.footrow{
  padding: 2em 0;
  text-align: center;
  background: #663339;
}
